/* Custom upload */

.avatar-preview {
	width: 192px;
	height: 192px;
	position: relative;
	border-radius: 100%;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	background-color: #f7f7f7;
}

.avatar-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.avatar-upload {
	position: relative;
}

.avatar-edit {
	position: absolute;
	right: 12px;
	z-index: 1;
	top: 10px;
}

.avatar-upload input {
	display: none;
}

.avatar-upload input+label {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	border-radius: 100%;
	background: #FFFFFF;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;
	transition: all .2s ease-in-out;
	position: relative;
	display: none;
}

.avatar-upload input+label img {
	transform: translate(-50%, -50%);
	width: 17px;
	position: absolute;
	left: 50%;
	top: 50%;
}

.avatar-upload input+label:hover {
	background: #f1f1f1;
	border-color: #d6d6d6;
}

.profile {
	border-radius: 8px;
	background-color: #ffffff;
	margin-bottom: 10px;
	padding: 15px 0px;
}

.profile:hover .avatar-upload input+label {
	display: block;
}

ul.clean {
	padding: 0px;
	margin: 0px;
}

ul.clean li {
	list-style: none;
	position: relative;
	padding: 10px 0px;
	padding-left: 35px;
}

.menu2 li.m1:before {
	content: "\f0e4";
}

.menu2 li.m9:before {
	content: "\f007";
}

.menu2 li.m2:before {
	content: "\f004";
}

.menu2 li.m4:before {
	content: "\f03e";
}

.menu2 li.m7:before {
	content: "\f06e";
}

.menu2 li.m8:before {
	content: "\f0e0";
}

.menu2 li.m10:before {
	content: "\f08b";
}
.menu2 li.m3:before {
	content: "\f03e";
}

.menu2 li.m5:before {
	content: "\f067";
}
.menu2 li.m2:before {
	content: "\f013";
}
.menu2 li.m11:before {
	content: "\f005";
	color:#00457C;
}
.menu2 li.m12:before {
	content: "\f283";
}
.menu2 li.m13:before {
	content: "\f0d6";
}

.menu2 li:before {
	content: "";
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
	position: absolute;
	left: 5px;
	top: 6px;
	font-family: 'FontAwesome';
	color: #01A9C1;
	font-size: 18px;
}

.form-box .form-control {
	border: 1px solid #eee;
	box-shadow: unset;
}

.bootstrap-tagsinput {
	border: 1px solid #e6e6e6;
	padding: 12px 12px 7px;
	height: 50px;
	border-radius: 8px;
}

.bootstrap-tagsinput input {
	border: unset
}

.label-info {
	background-color: #007a87;
}

.bootstrap-tagsinput .tag {
	border-radius: 5px;
	display: unset;
	padding: 5px;
	margin: unset;
}

.gal1 {
	margin-bottom: 30px;
	border-radius: 3px;
	height: 200px;
	width: 100%;
}

.gal1 img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: center;
}

.portolio .avatar-upload {
	max-width: 250px;
}

.portolio .avatar-preview {
	border-radius: 0px;
	width: 250px;
	height: 250px;
}

.portolio .avatar-upload input+label {
	display: block;
}

.portolio .avatar-upload input+label::after {
	content: "+";
	color: #757575;
	position: absolute;
	top: 0px;
	left: 1px;
	right: 0;
	text-align: center;
	margin: auto;
	font-size: 21px;
}

.more {
	position: relative;
}

.more:before {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.more span {
	color: #E8E8E8;
	font-weight: 700;
	font-size: 48px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.avis .delete-avis {
	position: absolute;
	right: 10px;
	top: 10px;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	width: 34px;
	height: 34px;
	border-radius: 50%;
	text-align: center;
	line-height: 34px;
}

.avis .delete-avis i {
	color: #F76D6D;
}

.avis {
	position: relative;
}

.exp {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/* ------------------msg */

.messaging ::-webkit-scrollbar {
	width: 10px;
}

/* Track */

.messaging ::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */

.messaging ::-webkit-scrollbar-thumb {
	background: #01A9C1;
}

/* Handle on hover */

.messaging ::-webkit-scrollbar-thumb:hover {
	background: #555;
}

img {
	max-width: 100%;
}

.inbox_people {
	/* background: #f8f8f8 none repeat scroll 0 0; */
	float: left;
	overflow: hidden;
	/* width: 40%; */
	border-right: 1px solid #c4c4c4;
	padding-left: 0px;
	padding-right: 0px;
}

.inbox_msg {
	border: 1px solid #c4c4c4;
	clear: both;
	overflow: hidden;
}

.top_spac {
	margin: 20px 0 0;
}

.recent_heading {
	float: left;
	width: 40%;
}

.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
	color: #007a87;
	font-size: 21px;
	margin: auto;
}

.srch_bar input {
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
	font-size: 14px;
	color: #989898;
	margin: auto;
}

.chat_img {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.chat_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	border-bottom: 1px solid #c4c4c4;
	margin: 0;
	padding: 18px 16px 10px;
}

.inbox_chat {
	height: 600px;
	overflow-y: scroll;
}

.active_chat {
	background: #ebebeb;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
	/* width: 50px; */
	height: 40px;
}

.incoming_msg_img img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.received_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.received_withd_msg {
	width: 57%;
}

.mesgs {
	float: left;
	padding: 30px 15px 0 25px;
	/* width: 60%; */
}

.sent_msg p {
	background: #01A9C1 none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg {
	float: right;
	width: 46%;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	padding-right: 40px;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.msg_send_btn {
	background: #01A9C1 none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}

.messaging {
	padding: 0 0 50px 0;
}

.msg_history {
	height: 516px;
	overflow-y: auto;
}

.delete {
	color: #F76D6D;
	font-size: 10px;
}

.delete a {
	color: #F76D6D;
}

.delete i {
	padding-right: 5px;
}

.d1 h5 {
	color: #007a87;
	font-weight: 700;
	font-size: 25px;
}

.border-right2 {
	border-right: 2px solid #F7F7F7;
	padding-top: 20px;
}

.d1 {
	text-align: center;
}

.d1 i {
	font-size: 40px;
	color: #007a87;
}

#area-chart, #line-chart, #bar-chart, #stacked, #pie-chart {
	min-height: 350px;
}

.label-success {
	background-color: #007a87;
}

.img-box1 {
	height: 50px;
	width: 50px;
	margin: auto;
	border-radius: 50%;
}
.img-box-1 {
	height: 200px;
	width: 200px;
	margin: auto;
	
}
.img-box-1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	}
.img-box1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

table .button {
	padding: 5px 5px;
	
	background-color: #01A9C1;
    color: #fff;
    border-radius: 32px;
}

#datatable1_wrapper .form-control {
	display: inline-block;
	width: auto;
	border: 1px solid #eee;
}

#datatable1_wrapper .pagination {
	margin: 0px;
	float: right;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index: 2;
	color: #fff;
	background-color:#01A9C1 ;
	border-color: #01A9C1;
	cursor: default;
}

#datatable1_filter {
	float: right;
}
.video iframe
{
	max-width: 100%;
}
.video
{
	margin-bottom: 30px;
}
.prix {
    color: #383838;
    font-weight: 700;
    font-size: 30px;
    padding-right: 15px;
}
.height1
{
	min-height: 109px;
	padding-top: 20px;
}
.button1
{
	background-color: #00457C;
	color:#fff;
	border-radius: 12px 0px 12px 0px;
	padding: 10px;
	display: inline-block;
}
.button1::after
{
	display: none;
}

.button2
{
    background-color:transparent;
    padding: 15px 30px;
    border-radius: 5px;
    border:unset;
    box-shadow: unset;
    color:#01A9C1;
	display:inline-block;
	border:1px solid #01A9C1;
}
.date {
    background-color: #F7F7F7;
    text-align: center;
    line-height: 97px;
    font-size: 16px;
	border-radius: 8px;
	position: unset;
}
.button-1 {
    background-color: #01A9C1;
    border: unset;
    box-shadow: unset;
    padding: 20px 30px;
    display: inline-block;
    border-radius: 32px;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}

/* ---------------------------------------------------------------------- */
.box-white {
    background-color: #fff;
    box-shadow: 0 3px 36px rgba(0, 0, 0, 0.14);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}
.small-button {
    padding: 5px 0px;
}
.full-width {
    width: 100%;
}
ul.stars li.star {
    content: "";
    background-image: url(../../img/star.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
ul.stars {
    padding: 0px;
    margin: 0px;
}
ul.stars li {
    display: inline-block;
    width: 15px;
    height: 15px;
}
ul.small-stars li {
    width: 10px!important;
    height: 10px!important;
}
.box-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}
.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}
.img-box2 {
    height: 50px;
    width: 50px;
    margin: auto;
}
.img-box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.range-slider .input-range {
	-webkit-appearance: none;
	width: 300px;
	height: 10px;
	border-radius: 5px;
	background:  #B7B6B6;
	outline: none;
  }
  .range-slider .input-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background:  #027987;
	cursor: pointer;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
  }
  .range-slider .input-range::-webkit-slider-thumb:hover {
	background:  #027987;
  }
  .range-slider .input-range:active::-webkit-slider-thumb {
	background: #027987;
  }
  .range-slider .range-value {
	display: inline-block;
	position: relative;
	width: 60px;
	color: #fff;
	font-size: 16px;
	font-weight:bold;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: #027987;
	padding: 5px 10px;
	margin-left: 7px;
	float: right;
	top: -20px;
  }
  .range-slider .range-value:after {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #027987;
	border-bottom: 7px solid transparent;
	content: '';
  }
  ul.clean li {
    list-style: none;
    position: relative;
    padding: 10px 0px;
    padding-left: 35px;
	color: #000;
	font-weight: 500;
}
ul a{
	color: #000;
}

.bg-gray h5{
	font-size: 14px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.btn2 {
    border: 1px solid #01A9C1;
    padding: 5px;
    border-radius: 5px;
    color: #333;
    transition: 0.3s all ease-in-out;
    margin: 3px;
}









/* -----------------responsive */
@media(max-width:768px) {
	.inbox_people {
		width: 100%;
	}
}